.container{
    width: 800px;
    overflow-x: auto;
    padding: 1rem 0;
    .language{
        color: #8FBCBB;
        background-color: #5E81AC;
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
        text-align: right;
        padding: 0 3px;
        border-radius: 5px 5px 0 0;
    }
    .code-wrapper{
        position: relative;
        pre{
            background-color: #282C34;
            color: #ABB2BF;
            padding: 0 6px;
            border-radius: 0 0 5px 5px;
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
        &:hover{
            #copy-button{opacity: 1;}
        }
    }
}

#copy-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 3px;
    background-color: #5E81AC;
    border: none;
    outline: none;
    color: #ABB2BF;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    opacity: 0;
    &:hover{
        background-color: #5E81AC90;
    }
}


#copy-success{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5E81AC;
    color: #EBCB8B;
    padding: 16px 32px;
    font-size: 24px;
    border-radius: 5px;
    display: none;
}
#copy-success.show-message{
    display: inline-block;
}


