.PttCrawler{
    h4{
        text-align: center;
        font-size: 1.1rem;
        font-weight: bold;
        font-style: italic;
        padding-top: 0.5rem;
        color: #EBCB8B;
    }
    p{
        text-align: center;
        font-size: 0.8rem;
        color: #D8DEE9;
    }
}

.JackCompilerSyntaxAnalyser{
    h4{
        text-align: center;
        font-size: 1.1rem;
        font-weight: bold;
        font-style: italic;
        padding-top: 0.5rem;
        color: #EBCB8B;
    }
    p{
        text-align: left;
        font-size: 0.8rem;
        padding: 0.5rem 3rem;
        color: #D8DEE9;
    }
}
