* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none; }

.main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr); }

@import "left-section";
@import "right-section";
@import "blog";


/* make the blog resopnsive*/
@media screen and (max-width:880px){
    .left-section{
        grid-column: span 3
    }
    .right-section{
        grid-column: span 6;
        .blogs{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width:780px){
    .left-section{
        grid-column: span 4
    }
    .right-section{
        grid-column: span 5;
        .main-title{
            h2{
                font-size: 2rem;
            }
        }
        .blogs{
            .blog{padding: 0;}
            grid-template-columns: repeat(1, 1fr);
        }
    }
}


@media screen and (max-width:500px){
    .left-section{
        grid-column: span 4;
        padding: 0;
        img{width: 70%;}
        h2{font-size: 1.2rem;}
        h3{
            font-size: 1rem;
            padding: 0.2rem;
        }
        p{font-size: 0.6rem;}
        .contact-info{a{font-size: 0.8rem;}}
        i{font-size: 0.8rem;}
        ul{padding: 0 1.5rem;}
    }
    .right-section{
        grid-column: span 5;
        .main-title{
            h2{
                font-size: 1.1rem;
            }
        }
        .blogs{
            grid-template-columns: repeat(1, 1fr);
            padding: 0;
            .blog{margin: 0.5rem;}
            .JackCompilerSyntaxAnalyser{
                p{
                    text-align: center
                }
            }
        }
    }
}
