* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none; }

.main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr); }

@import "left-section";
@import "right-section";
@import "blog";


/* make the blog resopnsive*/
@media screen and (max-width:880px){
    .left-section{
        grid-column: span 3
    }
    .right-section{
        grid-column: span 6;
        .blogs{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width:780px){
    .left-section{
        grid-column: span 4
    }
    .right-section{
        grid-column: span 5;
        .main-title{
            h2{
                font-size: 2rem;
            }
        }
        .blogs{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
